<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="aqua">
<form action="productsapi" method="post">
   {% csrf_token %}
    Enter pid:<input type="text" name="pid"><br>
    Enter pname:<input type="text" name="pname"><br>
    Enter pcost:<input type="text" name="pcost"><br>
    Enter pmfdt:<input type="text" name="pmfdt"><br>
    Enter pexpdt:<input type="text" name="pexpdt"><br>
    <input type="submit" value="insert">
</form>
</body>
</html>